@charset "UTF-8";
.hidden-item {
  visibility: hidden; }

@media (max-width: 560px) {
  .main-title {
    font-size: calc(0.5*var(--font-size)); }
    .main-title > rt {
      font-size: calc(0.3*var(--font-size)); }
  .subtitle {
    font-size: calc(0.4*var(--font-size)); } }

@media (max-width: 768px) {
  .recommend {
    margin: -24px auto 0 auto !important; }
  main {
    margin: 30px auto 0 auto !important; }
  header {
    margin: 96px 0 0 0; }
  #nav-pc {
    display: none; }
  #nav-drawer {
    display: block !important; } }

/* ******************初期化****************************************************** */
html {
  scroll-behavior: smooth; }

:root {
  --font-size:16px; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #dad6d6;
  width: 100%;
  min-width: 340px;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-shadow: #000 2px 2px 5px,#000 -2px 2px 5px,#000 2px -2px 5px,#000 -2px -2px 5px;
  box-shadow: #000 2px 2px 5px,#000 -2px 2px 5px,#000 2px -2px 5px,#000 -2px -2px 5px; }

.container {
  width: 100%;
  min-width: 340px;
  max-width: 1100px;
  margin: 0;
  background: #ffdede; }

li {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #07daff; }
  a:link {
    text-decoration: none;
    border: none; }

rt {
  font-family: "Noto Serif JP"; }

/* ******************初期化 エンド*********************************************************/
.top-header {
  background: #000;
  width: 100%;
  height: 88px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
  -ms-flex: row;
  flex: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.title-box {
  display: inline-block;
  margin: 0; }

.main-title {
  margin: 0;
  font-size: calc(2*var(--font-size));
  font-family: "Dancing Script";
  text-align: left;
  color: darksalmon;
  text-shadow: #000 2px 2px 2px; }

.main-title > rt {
  font-size: calc(0.3*var(--font-size));
  font-family: "Sawarabi Mincho";
  font-style: italic; }

.subtitle {
  margin: 0;
  font-size: calc(0.6*var(--font-size));
  font-family: "Noto Serif JP";
  color: darksalmon;
  text-align: left;
  text-shadow: #000 2px 2px 2px; }

.i-group {
  display: inline-block; }

.i-item {
  display: inline-block;
  margin: 24px 32px 0 0;
  padding: 0;
  font-size: calc(1.6*var(--font-size));
  color: #07daff; }
  .i-item i:hover {
    color: #ff8800; }

/*******************トップヘッダー　エンド***********************************************************/
/* ********************************************************************************************** */
/* ******************ヘッダー***************************************************************************************** */
header {
  width: 100%;
  height: 500px;
  max-height: 600px;
  margin: -13px 0 0 0;
  background-image: url("header.jpg");
  background-size: cover;
  background-position: 50% 60%; }

/* ***********************ヘッダー エンド*********************************************************************************/
/* ******************************************************************************************************** */
/* ***********************ナビ********************************************************************************* */
#nav-pc {
  position: relative;
  width: 100%;
  margin: 0 0 0 0;
  background: black;
  text-align: center;
  top: 456px; }
  #nav-pc > a {
    display: none; }
  #nav-pc li {
    width: 100%;
    padding: 0;
    position: relative;
    background: #000; }
    #nav-pc li:hover ul {
      display: block;
      z-index: 1000; }
    #nav-pc li ul {
      z-index: -1000;
      display: none;
      list-style: none;
      position: absolute;
      top: 100%; }
  #nav-pc > ul {
    list-style: none;
    margin: 0 0 0 -40px;
    height: 2.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    #nav-pc > ul::nth-child(1) {
      padding-left: 40px; }
    #nav-pc > ul > li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #nav-pc > ul > li:hover {
        background: #ff7878; }
      #nav-pc > ul > li:hover > a {
        color: #000; }
      #nav-pc > ul > li > ul {
        width: 85%; }
        #nav-pc > ul > li > ul > li {
          margin: 0 0 0 -40px;
          width: 118%;
          font-family: "Noto Serif JP";
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          text-align: left; }

.p-item, .p-vehicle, .p-monster, .p-job, .p-tool {
  font-family: "Noto Serif JP";
  font-size: calc(1.2*var(--font-size));
  padding: 0;
  background: #f03e3e !important;
  text-align: center !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .p-item:hover, .p-vehicle:hover, .p-monster:hover, .p-job:hover, .p-tool:hover {
    background: #ff7878 !important; }
  .p-item > a, .p-vehicle > a, .p-monster > a, .p-job > a, .p-tool > a {
    color: #000000; }
    .p-item > a:hover, .p-vehicle > a:hover, .p-monster > a:hover, .p-job > a:hover, .p-tool > a:hover {
      color: #fff; }

.p-vehicle {
  font-size: calc(1.4*var(--font-size));
  font-family: "Noto Serif JP"; }
  .p-vehicle:before {
    content: "";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }

.p-monster {
  font-size: calc(1.4*var(--font-size));
  font-family: "Noto Serif JP"; }
  .p-monster:before {
    content: "";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }

.p-job {
  font-size: calc(1.4*var(--font-size));
  font-family: "Noto Serif JP"; }
  .p-job:before {
    content: "";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }

.p-tool {
  font-size: calc(1.4*var(--font-size));
  font-family: "Noto Serif JP"; }
  .p-tool:before {
    content: "";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }

.c-bit {
  color: #ff7878;
  font-family: "Noto Serif JP"; }
  .c-bit:hover {
    background: #dad6d6 !important; }
  .c-bit:hover a {
    color: #000; }
  .c-bit::after {
    content: "";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }

/* ***********************ナビ　エンド*********************************************************************************/
/* ************************************************************************************************************************************ */
/* ************************************************************************************************************************************ */
/******************* パンくずリスト *****************************************************************************/
.breadcrumbs {
  width: 100%;
  margin: 0 0 30px 0;
  padding: 3px 0; }
  .breadcrumbs ul {
    list-style: none;
    display: block;
    font-size: 13px; }
    .breadcrumbs ul li {
      display: inline-block;
      margin: 0 10px 0 0;
      font-size: 13px; }
      .breadcrumbs ul li > a {
        color: #000;
        font-family: "Noto Serif JP"; }
        .breadcrumbs ul li > a:hover {
          color: #fd0909; }
      .breadcrumbs ul li::before {
        padding: 0 10px 0 0;
        content: "";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 14px; }
      .breadcrumbs ul li:first-child::before {
        padding: 0 3px 0 0;
        content: "";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 14px; }

/*************************パンくずリスト end*****************************************************************************/
/* ***************************************************************************************************************** */
/* **************************メイン************************************************************************************* */
.recommend {
  width: 100%;
  height: 100%;
  margin: 30px auto 0 auto;
  padding: 0;
  text-align: center;
  background: #ffdede; }
  .recommend > h2 {
    padding: 0;
    font-size: calc(1.7*var(--font-size));
    font-family: "Noto Serif JP";
    letter-spacing: 0.5rem;
    padding: 30px 0;
    background: lightblue; }

main {
  width: 100%;
  height: 100%;
  margin: -30px auto 0 auto;
  padding: 0;
  text-align: center;
  background: #ffdede; }
  main > h2 {
    padding: 0;
    font-size: calc(1.7*var(--font-size));
    font-family: "Noto Serif JP";
    letter-spacing: 0.5rem;
    padding: 30px 0;
    background: lightblue; }

.main-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
  -ms-flex: row;
  flex: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  text-align: center; }

.all-bit-main {
  pointer-events: none;
  margin: 20px auto 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 69%;
  flex: 0 0 69%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background: #ade3ec; }
  @media (max-width: 768px) {
    .all-bit-main {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 99%;
      flex: 0 0 99%;
      margin-left: 0.5%;
      margin-right: 0.5%; } }
  .all-bit-main h2 {
    margin-top: 0px;
    color: #ff9393;
    font-size: calc(1.7*var(--font-size));
    font-family: "Noto Serif JP";
    letter-spacing: 0.5rem;
    padding: 30px 0;
    background: #63d5fc; }
  .all-bit-main h3 {
    margin: 30px auto 0 auto;
    padding: 30px 0;
    color: #000;
    font-family: "Noto Serif JP"; }

.bit-card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
  -ms-flex: row;
  flex: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.bit-card {
  pointer-events: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background: #ffcdcd; }
  .bit-card > img {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0; }
  .bit-card > p {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    color: #fff;
    font-size: calc(0.8*var(--font-size));
    font-family: "Noto Serif JP";
    background: #000; }

.help-main {
  pointer-events: none;
  margin-top: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 69%;
  flex: 0 0 69%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background: #ade3ec; }
  @media (max-width: 768px) {
    .help-main {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 99%;
      flex: 0 0 99%;
      margin-left: 0.5%;
      margin-right: 0.5%; } }
  .help-main h2 {
    margin-top: 0;
    color: #ff9393;
    font-size: calc(1.7*var(--font-size));
    font-family: "Noto Serif JP";
    letter-spacing: 0.5rem;
    padding: 30px 0;
    background: #63d5fc; }
  .help-main h3 {
    color: #000;
    font-family: "Noto Serif JP"; }

.help-card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
  -ms-flex: row;
  flex: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.help-card {
  pointer-events: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 3px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-family: "Noto Serif JP";
  color: #007ab3;
  border-radius: 10px;
  background: -webkit-linear-gradient(45deg, #fd6b6b, #ffeeee, #74ffff);
  background: -o-linear-gradient(45deg, #fd6b6b, #ffeeee, #74ffff);
  background: linear-gradient(45deg, #fd6b6b, #ffeeee, #74ffff);
  -webkit-transition: background-color 0.7s,color 0.7s;
  -o-transition: background-color 0.7s,color 0.7s;
  transition: background-color 0.7s,color 0.7s; }
  .help-card li {
    text-align: center;
    font-size: calc(1.4*var(--font-size));
    font-family: "Noto Serif JP";
    height: 100%;
    margin: 10px auto; }
  .help-card:hover {
    color: #ffffff;
    background: #f5a6a6a8; }

.master-main {
  pointer-events: none;
  margin-top: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 69%;
  flex: 0 0 69%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background: #ade3ec; }
  @media (max-width: 768px) {
    .master-main {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 99%;
      flex: 0 0 99%;
      margin-left: 0.5%;
      margin-right: 0.5%; } }
  .master-main h2 {
    margin-top: 0;
    color: #ff9393;
    font-size: calc(1.7*var(--font-size));
    font-family: "Noto Serif JP";
    letter-spacing: 0.5rem;
    padding: 30px 0;
    background: #63d5fc; }
  .master-main h3 {
    color: #000;
    font-family: "Noto Serif JP"; }

.master-card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
  -ms-flex: row;
  flex: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.master-card {
  pointer-events: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  margin-left: 0.5%;
  margin-right: 0.5%; }

.master-card-img {
  width: 100%;
  height: 150px;
  margin-bottom: -10px; }

.master-card-title {
  width: 100%;
  font-size: calc(1.2*var(--font-size));
  font-family: "Noto Serif JP";
  background: #ff9393;
  text-align: left;
  word-wrap: none;
  word-break: break-all; }

.master-card-text {
  font-size: calc(0.8*var(--font-size));
  font-family: "Noto Serif JP";
  color: #000;
  text-align: left;
  word-wrap: none;
  word-break: break-all; }

.master-more-link {
  pointer-events: auto;
  display: block;
  width: 100px;
  margin-right: 30px;
  margin-left: auto;
  padding-right: 15px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  text-align: right;
  -webkit-transition: background-color 0.5s,color 0.5s;
  -o-transition: background-color 0.5s,color 0.5s;
  transition: background-color 0.5s,color 0.5s; }
  .master-more-link:hover {
    background-color: #fff;
    color: #000; }

aside {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 29%;
  flex: 0 0 29%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 20px;
  height: 100%;
  padding: 0;
  background: #000000;
  text-align: center;
  color: #fff; }
  @media (max-width: 768px) {
    aside {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 99%;
      flex: 0 0 99%;
      margin-left: 0.5%;
      margin-right: 0.5%; } }
  aside .c-2 a {
    display: inline-block;
    padding: 0.4px 1px;
    margin: 3px 3px;
    background: #b8f4ff9a;
    border-radius: 10px; }

.p-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.c-flex {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 29%;
  flex: 0 0 29%; }
  @media (max-width: 768px) {
    .c-flex {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
      flex: 0 0 45%; } }
  @media (max-width: 560px) {
    .c-flex {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
      flex: 0 0 90%; } }

section {
  display: block;
  margin: 0.5rem 0;
  background: #fff; }

.card-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  max-width: 400px;
  height: 200px; }

.card-content {
  padding: 20px; }

.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333; }

.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5; }

/* ***********************メイン　エンド************************************************************* */
/* ************************************************************************************************* */
/* ***********************ページネーション************************************************************* */
.pager ul.pagination {
  text-align: center;
  margin: 30px 0;
  padding: 0;
  background: #ffdede; }

.pager .pagination li {
  display: inline-block;
  margin: 0 2px;
  padding: 0;
  background: -webkit-linear-gradient(45deg, #64d9ee, #ff7878);
  background: -o-linear-gradient(45deg, #64d9ee, #ff7878);
  background: linear-gradient(45deg, #64d9ee, #ff7878);
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative; }

.pager .pagination li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: #fff;
  text-decoration: none; }

.pager .pagination li a span {
  display: table-cell;
  vertical-align: middle; }

.pager .pagination li a:hover,
.pager .pagination li a.active {
  color: #000;
  background: #ccf; }

/****************** ページネーション エンド***************************************************************************/
/* ************************************************************************************************************ */
/***************** フッター ***************************************************************************/
footer {
  background: -webkit-linear-gradient(45deg, #07daff, #fff, #fd0909);
  background: -o-linear-gradient(45deg, #07daff, #fff, #fd0909);
  background: linear-gradient(45deg, #07daff, #fff, #fd0909);
  text-align: center; }
  footer > h1 {
    font-size: calc(2*var(--font-size));
    font-family: "Dancing Script"; }
  footer > p {
    margin-top: -20px;
    font-size: calc(0.7*var(--font-size));
    font-family: "Noto Serif JP"; }
  footer > ul {
    margin: 30px 0; }
    footer > ul > a {
      text-align: center;
      margin: 10px auto;
      font-size: calc(0.8*var(--font-size));
      font-family: "Noto Serif JP";
      font-weight: 900;
      color: #000; }

.copyright {
  font-size: calc(0.6*var(--font-size));
  font-family: "Noto Serif JP";
  font-family: 900;
  color: #000000;
  text-shadow: #ffffff 2px 2px 2px; }

/******************* フッターエンド ******************************************************************************/
/********************リンク集********************************************************************/
.link-group {
  width: 100%;
  height: 100%;
  background: #000;
  margin-bottom: 0;
  word-break: keep-all;
  margin-bottom: -22px; }

.link-item {
  margin-left: 10px;
  margin-right: 10px;
  color: #07daff;
  font-family: "Noto Serif JP"; }
  .link-item::after {
    content: "";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }
  .link-item:hover {
    color: #fd6b6b; }

/********************リンク集 エンド********************************************************************/
#nav-drawer {
  display: none; }

/*チェックボックス等は非表示に*/
.nav-unshown {
  display: none; }

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  padding: 0 0 0 0;
  vertical-align: middle; }

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;
  /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;
  /*全体に広がる*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

/*************サイドナビゲーションの中身*******************/
/*****************************************************/
#nav-content {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /*最前面に*/
  width: 90%;
  /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;
  /*最大幅（調整してください）*/
  height: 100%;
  background: #fff;
  /*背景色*/
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  /*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  -ms-transform: translateX(-105%);
  transform: translateX(-105%);
  /*左に隠しておく*/ }
  #nav-content .side-nav-c-bit {
    list-style: none;
    text-align: left;
    margin: 0 0 0 0;
    padding: 0 0 0 20%;
    font-size: calc(1.3*var(--font-size));
    color: #ff7878;
    font-family: "Noto Serif JP"; }
    #nav-content .side-nav-c-bit:hover {
      background: #dad6d6; }
    #nav-content .side-nav-c-bit:hover a {
      color: #000; }
    #nav-content .side-nav-c-bit::after {
      content: "";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; }

/*************サイドナビゲーションの中身エンド*****************/
#nav-input:checked ~ #nav-close {
  display: block;
  /*カバーを表示*/
  opacity: .5; }

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  /*中身を表示（右へスライド）*/
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15); }

.toggle {
  display: none;
  height: 60px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 10px; }

.navbar {
  width: 100px;
  height: 90px;
  padding-top: 30px;
  font-size: calc(1.8*var(--font-size));
  color: #000;
  background: #dad6d6;
  border-radius: 30px; }

#page_top {
  width: 100px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ef3f98;
  opacity: 0.6; }

#page_top a {
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none; }

#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center; }

#page_top a::after {
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center; }
