@charset "UTF-8";
     $breakpoints-min: (
      'sm': '(min-width: 320px)',
      'md': '(min-width: 561px)',
      'lg': '(min-width: 769px)',
      'xl': '(min-width: 961px)',
    ) !default;
      $breakpoints-max:(
      'md': '(max-width: 560px)',
      'lg': '(max-width: 768px)',
      'xl': '(max-width: 960px)',
      'xxl': '(max-width: 1100px)'
      )!default;



// *************************************コンポーネント***********************************
// mixin　*******************************************
@mixin break-max($breakpoint:lg){
  @media #{map-get($breakpoints-max,$breakpoint)}{
    @content;
  }
}
@mixin row{
  display: flex;
  flex: row;
  flex-wrap: wrap;
}
@mixin flex-bw{
  justify-content: space-between;
}
@mixin col-1 {
  flex:0 0 9%;
  margin-left: 0.5%;
  margin-right:0.5%;
}
@mixin col-2 {
  flex:0 0 19%;
  margin-left: 0.5%;
  margin-right:0.5%;
}
@mixin col-2-5 {
  flex: 0 0 24%;
  margin-left: 0.5%;
  margin-right:0.5%;
}
@mixin col-3 {
  flex:0 0 29%;
  margin-left: 0.5%;
  margin-right:0.5%;
}
@mixin col-4 {
  flex:0 0 39%;
  margin-left: 0.5%;
  margin-right:0.5%;
}
@mixin col-5 {
  flex:0 0 49%;
  margin-left: 0.5%;
  margin-right:0.5%;
}
@mixin col-6 {
  flex:0 0 59%;
  margin-left: 0.5%;
  margin-right:0.5%;
}
@mixin col-7 {
  flex:0 0 69%;
  margin-left: 0.5%;
  margin-right:0.5%;
}
@mixin col-8 {
  flex:0 0 79%;
  margin-left: 0.5%;
  margin-right:0.5%;
}
@mixin col-9 {
  flex:0 0 89%;
  margin-left: 0.5%;
  margin-right:0.5%;
}
@mixin col-10 {
  flex:0 0 99%;
  margin-left: 0.5%;
  margin-right:0.5%;
}


// mixin　*******************************************
// おすすめ記事一覧と新着記事一覧で使用
.hidden-item {
  visibility: hidden; }
// おすすめ記事一覧と新着記事一覧で使用　エンド


// *************************************コンポーネント　エンド**********************************

// *************************************メディアクエリ******************************************
@media (max-width:560px){
  .main-title{
    font-size: calc(0.5*var(--font-size));
    >rt {
      font-size: calc(0.3*var(--font-size));
      }
  }
  .subtitle{
    font-size: calc(0.4*var(--font-size));
  }

}
@media (max-width:768px){
    .recommend{
      margin: -24px auto 0 auto!important;
    }
    main{
        margin: 30px auto 0 auto!important;
    }
    header{
      margin:96px 0 0 0;
    }
    #nav-pc{
      display: none;
    }
    #nav-drawer{
      display: block!important;
    } 

}
// ***************** メディアクエリ*************************************************** 
/* ******************初期化****************************************************** */
html {
  scroll-behavior: smooth; }
:root {
  --font-size:16px;
  --gentium: 'Gentium Basic';
  --dancing: 'Dancing Script';
  --noto:'Noto Serif JP';
  --sawarabi: 'Sawarabi Mincho'; }
$noto:'Noto `Serif JP';
body {

  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  background: #dad6d6;
  width: 100%;
  min-width:340px;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  box-shadow: #000 2px 2px 5px,#000 -2px 2px 5px,#000 2px -2px 5px,#000 -2px -2px 5px; }

.container {
  width: 100%;
  min-width: 340px;
  max-width: 1100px;
  margin: 0;
  background: #ffdede; }
li{
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #07daff; 
    &:link{
        text-decoration: none;
        border: none; 
    }
}

rt {
  font-family: var(--noto);
 }

/* ******************初期化 エンド*********************************************************/
// **************トップヘッダー******************************************************************************//
.top-header{
  background: #000;
  width: 100%;
  height:88px;
  margin:0;
  @include row();
  @include flex-bw();
}
.title-box {
  display: inline-block;
  margin: 0;
 }
 
.main-title {
  margin: 0;
  font-size: calc(2*var(--font-size));
  font-family: var(--dancing);
  text-align: left;
  color: darksalmon;
  text-shadow: #000 2px 2px 2px; }
  .main-title>rt {
    font-size: calc(0.3*var(--font-size));
    font-family: var(--sawarabi);
    font-style: italic; }

.subtitle {
  margin: 0;
  font-size: calc(0.6*var(--font-size));
  font-family: var(--noto);
  color: darksalmon;
  text-align:left;
  text-shadow: #000 2px 2px 2px; }
.i-group{
  display: inline-block;

}
.i-item{
  display: inline-block;
  margin:24px 32px 0 0;
  padding: 0;
  font-size: calc(1.6*var(--font-size));
  color: #07daff;
  i{
    &:hover{
      color: #ff8800;
    }
  }
}

  #nav-drawer {
    display: none;
 
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    padding:0 0 0 0;
    vertical-align: middle;
  }
  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がる*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  /****************************************************************************************/
  /*************トップヘッダーの中身************************************************************/
  /****************************************************************************************/ 
  #nav-content {
    overflow-x:hidden;
    overflow-y:scroll;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background: #fff;/*背景色*/
    text-align: center;
    transition: .3s ease-in-out;/*滑らかに表示*/
    transform: translateX(-105%);/*左に隠しておく*/
    >h4{
      margin:0 0 0 0;
    }
    >p{
      list-style: none;
      text-align: left;
      margin: 0 0 0 0;
      padding:0 0 0 20%;
      font-size: calc(1.3*var(--font-size));
    }
  }
  /*************トップヘッダーの中身エンド************************************************************/
  /****************************************************************************************/
  /****************************************************************************************/
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  } 
  .toggle{
    display: none;
    height: 60px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 10px;
  }
  .navbar{
    width: 100px;
    height: 90px;
    padding-top: 30px;
    font-size: calc(1.8*var(--font-size));
    color: #000;
    background: #dad6d6;
    border-radius: 30px;
  }
// **************トップヘッダー　エンド***********************************************************
/* ********************************************************************************************** */
/* ********************************************************************************************** */
/* ******************ヘッダー*************************************************************************** */
header {
  width: 100%;
  height: 500px;
  max-height: 600px;
  margin:-13px 0 0 0;
  background-image: url("header.jpg");
  background-size:cover;
  background-position: 50% 60%; 
}

/* ***********************ヘッダー エンド*********************************************************************************/
/* ***********************ナビ*************************************************************************************************** */
#nav-pc
{   position:relative;   
    width: 100%;
    margin:0 0 0 0;
    background: rgb(0, 0, 0);
    text-align: center;
    top:456px;
    >a{
        display: none;
    }
    li{
        width: 100%;
        padding:0;
        position: relative;
        background: #000;
        &:hover ul{
            display: block;
            z-index:1000;
        }
        ul{ 
            z-index: -1000;
            display: none;
            list-style: none;
            position: absolute;
            top: 100%;
        }
    }
    >ul{
        list-style: none;
        margin:0 0 0 -40px;
        height: 2.75em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        &::nth-child(1){
            padding-left: 40px;
      }
        >li{
            flex: 0 0 25%;
            justify-content: space-between;
            &:hover{
                background: #ff7878; 
            }
            &:hover >a{
                color: #000;
            }
            >ul{
                width:85%;
                >li{
                    margin:0 0 0 -40px;
                    width:118%;
                    font-family: var(--noto);
                    transition: all 0.5s; 
                    text-align: left;
                }
            }
        }
    }

}
.p-item{
    font-family: var(--noto);
    font-size: calc(1.2*var(--font-size));
    padding:0 ;
    background: #f03e3e!important;
    text-align: center!important;
    transition: all 0.5s;
    &:hover{
        background: #ff7878!important;
    }
    >a{
        color: #000000;
        &:hover{
          color: #fff;  
        }
    }
}
.p-vehicle {
    @extend .p-item;
    font-size: calc(1.4*var(--font-size));
    font-family: var(--noto);
    &:before{
        content: '\f747';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #000000;
    }
}
.p-monster{
    @extend .p-item;
    font-size: calc(1.4*var(--font-size));
    font-family: var(--noto);
    &:before{
        content: '\f67b';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }
}
.p-job{
    @extend .p-item;
    font-size: calc(1.4*var(--font-size));
    font-family: var(--noto);
    &:before{
        content: '\f0f0';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }
}
.p-tool{
  @extend .p-item;
  font-size: calc(1.4*var(--font-size));
  font-family: var(--noto);
  &:before{
      content: '\f552';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
  }
}
.c-bit{
    color: #ff7878;
    font-family: var(--noto);
    &:hover{
        background: #dad6d6!important;
    }
    &:hover a{
        color: #000;
    }
    &::after{
        content: '\f101';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }
}

/* ***********************ナビ　エンド*********************************************************************************/
/* ************************************************************************************************************************************ */
/* ************************************************************************************************************************************ */
/******************* パンくずリスト *****************************************************************************/
.breadcrumbs {
  width: 100%;
  margin: 0;
  padding: 3px 0; 
    ul{
        list-style: none;
        display: block;
        font-size: 13px; 
        li{
            display: inline-block;
            margin: 0 10px 0 0;
            font-size: 13px;
            >a{
              color: #000;
              font-family: var(--noto);
              &:hover{
                color: #fd0909;
              }
            }
            &::before{
                padding: 0 10px 0 0;
                content: "\f105";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 14px;
            } 
            &:first-child::before{
                padding: 0 3px 0 0;
                content: "\f015";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 14px; 
            }
        }
    }
}
/*************************パンくずリスト end*****************************************************************************/
/* ***************************************************************************************************************** */

/* ***********************メイン*************************************************************************************************** */
// おすすめ********************************************
.recommend{
  margin:auto auto;
  background: #000;
  width: 100%;
  height: 100%;
  margin: 30px auto 0 auto;
  padding: 0;
  text-align: center;
  background: #ffdede;
  >h2{
    padding: 0;
    font-size: calc(1.7*var(--font-size));
    font-family: var(--noto);
    letter-spacing: 0.5rem;
    padding:30px 0;
    background: lightblue; 
  }

}
// おすすめ エンド************************************
// トップページ新着記事 ************************************
main {
  width: 100%;
  height: 100%;
  margin: -30px auto 0 auto;
  padding: 0;
  text-align: center;
  background: #ffdede;
  >h2{
    padding: 0;
    font-size: calc(1.7*var(--font-size));
    font-family: var(--noto);
    letter-spacing: 0.5rem;
    padding:30px 0;
    background: lightblue;
  }
 }

 // トップページ新着記事 エンド************************************
 // ビット一覧 　　************************************
 .main-container{
   box-sizing: border-box;
  @include row();
   margin-top:0px;
   height: 100%;
   text-align: center;
 }
 .all-bit-main{
    margin-top:20px;
   @include col-7();
   @include break-max(){
    @include col-10();
   }
  background: #ade3ec;
   h2{
    margin-top: 0;
    color: #ff9393;
    font-size: calc(1.7*var(--font-size));
    font-family: var(--noto);
    letter-spacing: 0.5rem;
    padding: 30px 0;
    background: #63d5fc;
   }
   h3{
     color: #000;
     font-family: var(--noto);
   }
 }
 .bit-card-group{
  @include row();
  @include flex-bw();
 }
 .bit-card{
   box-sizing: border-box;
   @include col-2-5();

   background:#ffcdcd;    
   >img{
    width: 100%;
    height: 100px;
    margin:0;
    padding: 0;
   }
   >p{
    box-sizing: border-box;
    margin:0 auto;
    color: #fff;
    font-size: calc(0.8*var(--font-size));
    font-family: var(--noto);
    background: #000;
   }

 }
  // ビット一覧 　エンド************************************
  // ヘルプ一覧　*****************************************

  .help-main{
    margin-top:20px;
    @include col-7();
    @include break-max(){
     @include col-10();
    }
   background: #ade3ec;
    h2{
     margin-top: 0;
     color: #ff9393;
     font-size: calc(1.7*var(--font-size));
     font-family: var(--noto);
     letter-spacing: 0.5rem;
     padding: 30px 0;
     background: #63d5fc;
    }
    h3{
      color: #000;
      font-family: var(--noto);
    }
  }
  .help-card-group{
    @include row();
    @include flex-bw();
  }
  .help-card{
    box-sizing: border-box;
    margin-top:3px;
    margin-bottom: 3px;
    @include col-5();
    font-family: var(--noto);
    color: #007ab3;
    border-radius: 10px;
    background:linear-gradient(45deg,#fd6b6b,#ffeeee,#74ffff);
    transition: background-color 0.7s,color 0.7s;
    
    li{
      text-align: center;
      font-size: calc(1.4*var(--font-size));
      font-family: var(--noto);
      height: 100%;
      margin:10px auto;
    }
    &:hover{
        color: #ffffff;
        background: #f5a6a6a8;
    }
 
  }



  // ヘルプ一覧　エンド*****************************************
  // サイドバー 　************************************ 
aside{
  @include col-3();
    @include break-max(){
      @include col-10();
    }
    margin-top:20px;
    height: 100%;
    padding: 0;
    background: #000000;
    text-align: center;
    color: #fff;
   .c-2{
     a{
       display: inline-block;
       padding: 0.4px 1px;
       margin:3px 3px;
       background: #b8f4ff9a;
       border-radius: 10px;

     }
   }
}
 // サイドバー エンド************************************
section {
  display: block;
  margin: 0.5rem 0;
  background: #fff; }
.p-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
 }

.c-flex {
  flex: 0 0 29%; 
  @include break-max(){
    flex: 0 0 45%;
  }
}

.card-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  max-width: 400px;
  height: 200px; }

.card-content {
  padding: 20px; }

.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333; }

.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5; }

@media (max-width: 560px) {
  .p-flex {
    flex-direction: row;
   }
  .c-flex {
    flex: 0 0 90%;
     } 
  }


/* ***********************メイン　エンド************************************************************* */
/* ************************************************************************************************* */
/* ***********************ページネーション************************************************************* */
.pager ul.pagination {
  text-align: center;
  margin: 30px 0;
  padding: 0;
  background: #ffdede; }

.pager .pagination li {
  display: inline-block;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  background: -webkit-linear-gradient(45deg, #64d9ee, #ff7878);
  background: -o-linear-gradient(45deg, #64d9ee, #ff7878);
  background: linear-gradient(45deg, #64d9ee, #ff7878);
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative; }

.pager .pagination li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: #fff;
  text-decoration: none; }

.pager .pagination li a span {
  display: table-cell;
  vertical-align: middle; }

.pager .pagination li a:hover,
.pager .pagination li a.active {
  color: #000;
  background: #ccf; }

/****************** ページネーション エンド***************************************************************************/
/* ************************************************************************************************************ */
/***************** フッター ***************************************************************************/
footer {
          background: -webkit-linear-gradient(45deg, #07daff, #fff, #fd0909);
          background: -o-linear-gradient(45deg, #07daff, #fff, #fd0909);
          background: linear-gradient(45deg, #07daff, #fff, #fd0909);
          text-align: center; 
          >h1{
            font-size: calc(2*var(--font-size));
            font-family: var(--dancing); 
          }
           >p{
              margin-top: -20px;
              font-size: calc(0.7*var(--font-size));
              font-family: var(--noto); 
          }
          >ul{
              margin: 30px 0; 
              >a{
                text-align: center;
                margin: 10px auto;
                font-size: calc(0.8*var(--font-size));
                font-family: var(--noto);
                font-weight: 900;
                color: #000; 
              }
      }
}
.copyright {
  font-size: calc(0.6*var(--font-size));
  font-family: var(--noto);
  font-family: 900;
  color: #000000;
  text-shadow: #ffffff 2px 2px 2px;}

/****************** フッターエンド ***************************************************************************/
//************************ トップボタン************************************************************************************
//************************ トップボタン*******************************************************************************************************

#page_top{
  width: 100px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ef3f98;
  opacity: 0.6;
}
#page_top a{
position: relative;
display: block;
width: 100px;
height: 60px;
text-decoration: none;
}
#page_top a::before{
font-family: 'Font Awesome 5 Free';
font-weight: 900;
content: '\f102';
font-size: 25px;
color: #fff;
position: absolute;
width: 25px;
height: 25px;
top: -25px;
bottom: 0;
right: 0;
left: 0;
margin: auto;
text-align: center;
}
#page_top a::after{
content: 'PAGE TOP';
font-size: 13px;
color: #fff;
position: absolute;
top: 30px;
bottom: 0;
right: 0;
left: 0;
margin: auto;
text-align: center;
}
//*******************************************************************************************************************************
//************************ トップボタン エンド************************************************************************************


