/* 
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/


/* -----------------------------------------------
Body - not related to megamenu
----------------------------------------------- */


/* -----------------------------------------------
Screen style's
----------------------------------------------- */

.menu{
    display: none;
    width: 100%;
    margin: 0;
    background:rgba(0,0,0,0.8);
}

.clip{
    background: -webkit-linear-gradient(-45deg, #3067ff, #d314a3);
    background: linear-gradient(-45deg, #3067ff, #d314a3);
    font-family: 'Tangerine';
    font-weight: 900;
    font-size:20px;
    -webkit-background-clip: text;
    background-clip: text;
    color: #d314a3;
    color: transparent;
    
}

.menu-mobile {
    display: none;
    padding:5px 20px 20px 20px;
}

.menu-mobile:after {
    content: "\f039";
    font-family:"Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.7rem;
    color: #3067ff;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
}

.menu-dropdown-icon:before {
    display: none;
    float: right;
    padding: 1em;
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color:#3067ff;
    cursor: pointer;

    
}
.menu > ul {
    position: relative;
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding:0;
    width: 40%;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    padding: 0;
    margin: 0;
}

.menu > ul > li:hover {
    background: rgba(0, 0,0,0.2);
}

.menu > ul > li a {
    text-decoration: none;
    padding: 1em 2em;
    display: inline-block;
}


.menu > ul > li > ul {
    display: none;
    box-sizing: border-box;
    list-style: none;
    position: absolute;
    left: 0;
    margin:0;
    padding-bottom: 20px;
    width: 100%;
    background:rgba(0,0,0,0.8);
    z-index: 99;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-left:0.5rem;
    list-style: none;
    /* background was greeen */
    background:none;
    text-align:left;
}


.menu > ul > li > ul > li a {
    display: inline-block;
    box-sizing: border-box;
    margin-top:5px;
    padding:0;
    font-size: 1rem;
    color: #fff;
    border: 2px solid #d314a3;
}
.menu > ul > li > ul > li a:hover {
    background: #fff;
    color:#000;

}

.menu > ul > li > ul > li>a {
    display: inline;
    box-sizing: border-box;
    padding: .2rem 0;
    font-size: 1.5rem;
    color: #d314a3;
    border: none;
    pointer-events: none;
}
.menu > ul > li > ul > li > ul {
    display: block;
    box-sizing: border-box;
    list-style: none;
    background:none;
    margin-top:8px;
    padding: 0;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}


/* -----------------------------------------------
Mobile style's
----------------------------------------------- */

@media(max-width: 768px) {
    .menu{
        display: block;
        position: absolute;
        z-index: 1000;
        width: 100%;
        margin: -83px 0 0 0;
        background:rgba(0,0,0,0.8);
    }
    .menu-mobile {
        display: block;
    }
     .menu-dropdown-icon{
        text-align: center;
        border-top: #3067ff solid 1px;
} 
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
        width: 100%;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu > ul > li a {
        padding: 1em;
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
        background: none;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li > ul > li a {
    display:inline;
    box-sizing: border-box;
    padding:0;
    font-size: 1rem;
    color: #fff;
    /* border-radius: 20px; */
    border: none;
    background: #d314a3;
    border-bottom: 2px solid #d314a3;
}
.menu > ul > li > ul > li a:hover {
    background: #fff;
    color:#d314a3;

}

.menu > ul > li > ul > li>a {
    display: inline;
    box-sizing: border-box;
    padding: .2rem 0;
    font-size: 1.5rem;
    background: none;
    color: #d314a3;
    border-radius: 0;
    border:none;
    pointer-events: none;
}
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
}