@charset "UTF-8";
/*      
        font-family: 'Gentium Basic', serif;
        font-family: 'Dancing Script', cursive;
        font-family: 'Noto Serif JP', serif;
     */
/* ******************初期化****************** */
@media (max-width: 560px) {
  .main-title {
    font-size: calc(0.5*var(--font-size)); }
    .main-title > rt {
      font-size: calc(0.3*var(--font-size)); }
  .subtitle {
    font-size: calc(0.4*var(--font-size)); } }

@media (max-width: 768px) {
  .recommend {
    margin: -24px auto 0 auto !important; }
  main {
    margin: 30px auto 0 auto !important; }
  header {
    margin: 96px 0 0 0; }
  #nav-pc {
    display: none; } }

html {
  scroll-behavior: smooth; }

:root {
  --font-size:16px;
  --gentium: 'Gentium Basic';
  --dancing: 'Dancing Script';
  --noto:'Noto Serif JP';
  --sawarabi: 'Sawarabi Mincho'; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #dad6d6;
  width: 100%;
  min-width: 340px;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-shadow: #000 2px 2px 5px,#000 -2px 2px 5px,#000 2px -2px 5px,#000 -2px -2px 5px;
  box-shadow: #000 2px 2px 5px,#000 -2px 2px 5px,#000 2px -2px 5px,#000 -2px -2px 5px; }

.container {
  width: 100%;
  min-width: 340px;
  max-width: 1100px;
  margin: 0;
  background: #ffdede; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #07daff; }
  a:link {
    text-decoration: none;
    border: none; }

rt {
  font-family: var(--noto); }

/* ******************初期化 エンド*******************/
.top-header {
  background: #000;
  width: 100%;
  height: 88px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.title-box {
  display: inline-block;
  margin: 0; }

.main-title {
  margin: 0;
  font-size: calc(2*var(--font-size));
  font-family: var(--dancing);
  text-align: left;
  color: darksalmon;
  text-shadow: #000 2px 2px 2px; }

.main-title > rt {
  font-size: calc(0.3*var(--font-size));
  font-family: var(--sawarabi);
  font-style: italic; }

.subtitle {
  margin: 0;
  font-size: calc(0.6*var(--font-size));
  font-family: var(--noto);
  color: darksalmon;
  text-align: left;
  text-shadow: #000 2px 2px 2px; }

.i-group {
  display: inline-block; }

.i-item {
  display: inline-block;
  margin: 24px 32px 0 0;
  padding: 0;
  font-size: calc(1.6*var(--font-size));
  color: #07daff; }
  .i-item i:hover {
    color: #ff8800; }

#nav-drawer {
  display: inline-block; }

/*チェックボックス等は非表示に*/
.nav-unshown {
  display: none; }

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  padding: 0px 0 0 0;
  vertical-align: middle; }

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;
  /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;
  /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

/*********************************************************************/
/*************トップヘッダーの中身*****************************************/
/*********************************************************************/
#nav-content {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /*最前面に*/
  width: 90%;
  /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;
  /*最大幅（調整してください）*/
  height: 100%;
  background: #fff;
  /*背景色*/
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  /*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  -ms-transform: translateX(-105%);
  transform: translateX(-105%);
  /*左に隠しておく*/ }
  #nav-content > h4 {
    margin: 0 0 0 0; }
  #nav-content > p {
    list-style: none;
    text-align: left;
    margin: 0 0 0 0;
    padding: 0 0 0 20%;
    font-size: calc(1.3*var(--font-size)); }

/*************トップヘッダーの中身エンド*****************************************/
/*********************************************************************/
/*********************************************************************/
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;
  /*カバーを表示*/
  opacity: .5; }

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  /*中身を表示（右へスライド）*/
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15); }

.toggle {
  height: 60px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 10px; }

.navbar {
  width: 100px;
  height: 90px;
  padding-top: 30px;
  font-size: calc(1.8*var(--font-size));
  color: #000;
  background: #dad6d6;
  border-radius: 30px; }

/* ******************************************************** */
/* ******************************************************** */
/* ******************ヘッダー****************** */
header {
  width: 100%;
  height: 500px;
  max-height: 600px;
  margin: -13px 0 0 0;
  background-image: url("header.jpg");
  background-size: cover;
  background-position: 50% 60%; }

/* ***********************ヘッダー エンド************************/
/* ***********************ナビ*********************** */
#nav-pc {
  position: relative;
  width: 100%;
  margin: 0 0 0 0;
  background: black;
  text-align: center;
  top: 456px; }
  #nav-pc > a {
    display: none; }
  #nav-pc li {
    width: 100%;
    padding: 0;
    position: relative;
    background: #000; }
    #nav-pc li:hover ul {
      display: block; }
    #nav-pc li ul {
      display: none;
      list-style: none;
      position: absolute;
      top: 100%; }
  #nav-pc > ul {
    list-style: none;
    margin: 0 0 0 -40px;
    height: 2.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    #nav-pc > ul::nth-child(1) {
      padding-left: 40px; }
    #nav-pc > ul > li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #nav-pc > ul > li:hover {
        background: #ff7878; }
      #nav-pc > ul > li:hover > a {
        color: #000; }
      #nav-pc > ul > li > ul {
        width: 85%; }
        #nav-pc > ul > li > ul > li {
          margin: 0 0 0 -40px;
          width: 118%;
          font-family: var(--noto);
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          text-align: left; }

.p-item, .p-vehicle, .p-monster, .p-job {
  font-family: var(--noto);
  font-size: calc(1.2*var(--font-size));
  background: #f03e3e !important;
  padding: 0;
  text-align: center !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .p-item:hover, .p-vehicle:hover, .p-monster:hover, .p-job:hover {
    background: #ff7878 !important; }
  .p-item > a, .p-vehicle > a, .p-monster > a, .p-job > a {
    color: #000000; }
    .p-item > a:hover, .p-vehicle > a:hover, .p-monster > a:hover, .p-job > a:hover {
      color: #fff; }

.p-vehicle {
  font-size: calc(1.4*var(--font-size));
  font-family: var(--noto); }
  .p-vehicle:before {
    content: '\f747';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #000000; }

.p-monster {
  font-size: calc(1.4*var(--font-size));
  font-family: var(--noto); }
  .p-monster:before {
    content: '\f67b';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }

.p-job {
  font-size: calc(1.4*var(--font-size));
  font-family: var(--noto); }
  .p-job:before {
    content: '\f0f0';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }

.c-bit {
  color: #ff7878;
  font-family: var(--noto); }
  .c-bit:hover {
    background: #dad6d6 !important; }
  .c-bit:hover a {
    color: #000; }
  .c-bit::after {
    content: '\f101';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }

/* ***********************ナビ　エンド************************/
/* ******************************************************** */
/* ******************************************************** */
/******************* パンくずリスト ********************/
.breadcrumbs {
  width: 100%;
  margin: 0;
  padding: 3px 0; }
  .breadcrumbs ul {
    list-style: none;
    display: block;
    font-size: 13px; }
    .breadcrumbs ul li {
      display: inline-block;
      margin: 0 10px 0 0;
      font-size: 13px; }
      .breadcrumbs ul li::before {
        padding: 0 10px 0 0;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 14px; }
      .breadcrumbs ul li:first-child::before {
        padding: 0 3px 0 0;
        content: "\f015";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 14px; }

/******************* パンくずリスト end********************/
/* ******************************************************** */
/* ******************************************************** */
.recommend {
  margin: auto auto;
  background: #000;
  width: 100%;
  height: 100%;
  margin: 30px auto 0 auto;
  padding: 0;
  text-align: center;
  background: #ffdede; }
  .recommend > h2 {
    padding: 0;
    font-size: calc(1.7*var(--font-size));
    font-family: var(--noto);
    letter-spacing: 0.5rem;
    padding: 30px 0;
    background: lightblue; }

/* ***********************メイン*********************** */
main {
  width: 100%;
  height: 100%;
  margin: -30px auto 0 auto;
  padding: 0;
  text-align: center;
  background: #ffdede; }
  main > h2 {
    padding: 0;
    font-size: calc(1.7*var(--font-size));
    font-family: var(--noto);
    letter-spacing: 0.5rem;
    padding: 30px 0;
    background: lightblue; }

section {
  display: block;
  margin: 0.5rem 0;
  background: #fff; }

.hidden-item {
  visibility: hidden; }

.p-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.c-flex {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 29%;
  flex: 0 0 29%; }

.card-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  max-width: 400px;
  height: 200px; }

.card-content {
  padding: 20px; }

.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333; }

.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5; }

@media (max-width: 560px) {
  .p-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .c-flex {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%; } }

@media (max-width: 768px) {
  .c-flex {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%; } }

/* ***********************メイン　エンド*********************** */
/* *********************************************************** */
/* ***********************ページネーション*********************** */
.pager ul.pagination {
  text-align: center;
  margin: 30px 0;
  padding: 0;
  background: #ffdede; }

.pager .pagination li {
  display: inline-block;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  background: -webkit-linear-gradient(45deg, #64d9ee, #ff7878);
  background: -o-linear-gradient(45deg, #64d9ee, #ff7878);
  background: linear-gradient(45deg, #64d9ee, #ff7878);
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative; }

.pager .pagination li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: #fff;
  text-decoration: none; }

.pager .pagination li a span {
  display: table-cell;
  vertical-align: middle; }

.pager .pagination li a:hover,
.pager .pagination li a.active {
  color: #000;
  background: #ccf; }

/****************** ページネーション エンド******************/
/* *************************************************** */
/***************** フッター ******************/
footer {
  background: -webkit-linear-gradient(45deg, #07daff, #fff, #fd0909);
  background: -o-linear-gradient(45deg, #07daff, #fff, #fd0909);
  background: linear-gradient(45deg, #07daff, #fff, #fd0909);
  text-align: center; }
  footer > h1 {
    font-size: calc(2*var(--font-size));
    font-family: var(--dancing); }
  footer > p {
    margin-top: -20px;
    font-size: calc(0.7*var(--font-size));
    font-family: var(--noto); }
  footer > ul {
    margin: 30px 0; }
    footer > ul > a {
      text-align: center;
      margin: 10px auto;
      font-size: calc(0.8*var(--font-size));
      font-family: var(--noto);
      font-weight: 900;
      color: #000; }

.copyright {
  font-size: calc(0.6*var(--font-size));
  font-family: var(--noto);
  font-family: 900;
  color: #ffffff;
  text-shadow: #000 2px 2px 2px, #07daff -2px -2px 2px, #fd0909 2px -2px 2px; }

/****************** フッターエンド ******************/
